#target type (Color/Depth)
Type = "Color"

#Whether to create an SRV for this target
CreateShaderView = false

#target format (See DXGI formats)
Format = "R8G8B8A8_UNORM"

#(Fixed/Scaling) ([Resolution=Scaling] + [Scale = 1.0] == window/screen resolution)
Resolution = "Scaling"

#Scales target if set to "Scaling" by this amount of the full resolution
Scale = 1.0

#Resolution if set to "Fixed", in pixels
FixedWidth = 1024
FixedHeight = 1024

MultiSampleCount = 1
MultiSampleQuality = 0

ClearValue = [0.0, 0.0, 0.0, 0.0]